{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
	"graphql"
  ],
  "env": {
	"browser": true,
	"es6": true,
	"node": true
  },
  "ecmaFeatures": {
	"defaultParams": true,
	"jsx": true,
	"modules": true
  },
  "rules": {
	"react/jsx-uses-vars": [2],
	"react/jsx-indent-props": [
	  "error",
	  "tab"
	],
	"react/jsx-indent": [
	  "error",
	  "tab"
	],
	"jsx-quotes": ["error", "prefer-single"],
	"import/no-extraneous-dependencies": [
	  "error",
	  {
		"devDependencies": [
		  "tools/**/*",
		  "**/*.test.js",
		  "**/*.spec.js"
		]
	  }
	],
	"no-duplicate-imports": 0,
	"react/jsx-filename-extension": 0,
	"global-require": 0,
	// Tabs are semantically right
	"no-tabs": 0,
	"no-mixed-spaces-and-tabs": [
	  "error",
	  "smart-tabs"
	],
	"indent": [
	  "error",
	  "tab"
	],
	"graphql/template-strings": [
	  "error",
	  {
		"env": "apollo",
		"schemaJsonFilepath": "graphql.schema.json"
	  }
	]
  }
}
